In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("D:/Full Stack Data Science/pandas/TR School Registry.csv")

In [4]:
df

,School_Code,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,School_Management_ID,Affiliation_Board,Contact_Name,Contact_Number,Email_ID,Is_Minority_School?,Minority_Community,School_Location,School_Type_ID,School_Type
0,M16010100108,DAKSHIN LANKAMURA J.B SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,5,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Primary,...,11,NaN,Susanta Das,9.436586e+09,susantad304@gmail.com,NO,NaN,Urban,3,Co-ed
1,N16010100109,LANKAMURA H.S. SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,11,State Board,Alak Bhattacharya,9.436450e+09,bhattacharyaalak@gmail.com,NO,NaN,Urban,3,Co-ed
2,M16010100109,LANKAMURA H.S. SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,11,State Board,Alak Bhattacharya,9.436450e+09,bhattacharyaalak@gmail.com,NO,NaN,Urban,3,Co-ed
3,M16010100110,DAKSHIN NARAYANPUR SB SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,8,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Primary with Upper Primary,...,11,NaN,SANJOY CHAKRABORTY,9.774329e+09,dakshinnarayanpursb@gmail.com,NO,NaN,Urban,3,Co-ed
4,N16010100207,MADHYA BHUBANBAN HIGH (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,10,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. Up Pr. and Secondary Only,...,11,State Board,DULAL BANIK,9.774707e+09,madhyabhubanbanhighschool@gmail.com,NO,NaN,Urban,3,Co-ed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,N16080801001,JOYPUR (NABINCHERRA).SR.B.SCHOL (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,Kamal Chakma,8.837048e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5820,N16080801301,DHANICHERRA SR. B. SCHOOL. (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,JAYANTA CHAKMA,8.414877e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5821,N16080801303,KINACHARAN T/PARA SR.B.SCHOOL. (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,Swapan Chakma,7.005716e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5822,N16080900105,KALIPUR (JITU DIGIR PAR) JR.B. (Noon Shift),No,17-4-2024,14-08-2024,1,5,UNAKOTI,KAILASHAHAR M.C.,Primary,...,11,NaN,MITALI BHATTACHARJEE,9.436908e+09,0,2-NO,Not Available,2-Urban,3,Co-ed
5823,M16080900110,GOBINDAPUR SR.B.SCHOOL. (Morning Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,KAILASHAHAR M.C.,Primary with Upper Primary,...,11,NaN,ARPITA MAJUMDER,9.402347e+09,0,2-NO,Not Available,2-Urban,3,Co-ed

In [5]:
df.head()

,School_Code,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,School_Management_ID,Affiliation_Board,Contact_Name,Contact_Number,Email_ID,Is_Minority_School?,Minority_Community,School_Location,School_Type_ID,School_Type
0,M16010100108,DAKSHIN LANKAMURA J.B SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,5,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Primary,...,11,NaN,Susanta Das,9.436586e+09,susantad304@gmail.com,NO,NaN,Urban,3,Co-ed
1,N16010100109,LANKAMURA H.S. SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,11,State Board,Alak Bhattacharya,9.436450e+09,bhattacharyaalak@gmail.com,NO,NaN,Urban,3,Co-ed
2,M16010100109,LANKAMURA H.S. SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,11,State Board,Alak Bhattacharya,9.436450e+09,bhattacharyaalak@gmail.com,NO,NaN,Urban,3,Co-ed
3,M16010100110,DAKSHIN NARAYANPUR SB SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,8,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Primary with Upper Primary,...,11,NaN,SANJOY CHAKRABORTY,9.774329e+09,dakshinnarayanpursb@gmail.com,NO,NaN,Urban,3,Co-ed
4,N16010100207,MADHYA BHUBANBAN HIGH (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,10,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. Up Pr. and Secondary Only,...,11,State Board,DULAL BANIK,9.774707e+09,madhyabhubanbanhighschool@gmail.com,NO,NaN,Urban,3,Co-ed

In [6]:
df.head(5)

,School_Code,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,School_Management_ID,Affiliation_Board,Contact_Name,Contact_Number,Email_ID,Is_Minority_School?,Minority_Community,School_Location,School_Type_ID,School_Type
0,M16010100108,DAKSHIN LANKAMURA J.B SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,5,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Primary,...,11,NaN,Susanta Das,9.436586e+09,susantad304@gmail.com,NO,NaN,Urban,3,Co-ed
1,N16010100109,LANKAMURA H.S. SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,11,State Board,Alak Bhattacharya,9.436450e+09,bhattacharyaalak@gmail.com,NO,NaN,Urban,3,Co-ed
2,M16010100109,LANKAMURA H.S. SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,11,State Board,Alak Bhattacharya,9.436450e+09,bhattacharyaalak@gmail.com,NO,NaN,Urban,3,Co-ed
3,M16010100110,DAKSHIN NARAYANPUR SB SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,8,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Primary with Upper Primary,...,11,NaN,SANJOY CHAKRABORTY,9.774329e+09,dakshinnarayanpursb@gmail.com,NO,NaN,Urban,3,Co-ed
4,N16010100207,MADHYA BHUBANBAN HIGH (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,10,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. Up Pr. and Secondary Only,...,11,State Board,DULAL BANIK,9.774707e+09,madhyabhubanbanhighschool@gmail.com,NO,NaN,Urban,3,Co-ed

In [9]:
print(df.head(5))

    School_Code                                   School_Name Is_Active?  \
0  M16010100108  DAKSHIN LANKAMURA J.B SCHOOL (MORNING SHIFT)        Yes
1  N16010100109            LANKAMURA H.S. SCHOOL (NOON SHIFT)        Yes
2  M16010100109         LANKAMURA H.S. SCHOOL (MORNING SHIFT)        Yes
3  M16010100110  DAKSHIN NARAYANPUR SB SCHOOL (MORNING SHIFT)        Yes
4  N16010100207            MADHYA BHUBANBAN HIGH (NOON SHIFT)        Yes

  Created_DateTime Last_Modified_DateTime  Lowest_Class  Highest_Class  \
0       12-07-2024             14-08-2024             1              5
1       12-07-2024             14-08-2024             1             12
2       12-07-2024             14-08-2024             1             12
3       12-07-2024             14-08-2024             1              8
4       12-07-2024             14-08-2024             1             10

   District_Name                        Block_Name  \
0  WEST TRIPURA   AGARTALA MUNICIPAL COORPORATION
1  WEST TRIPURA   AGARTALA MUNICIPAL COORPORATION
2  WEST TRIPURA   AGARTALA MUNICIPAL COORPORATION
3  WEST TRIPURA   AGARTALA MUNICIPAL COORPORATION
4  WEST TRIPURA   AGARTALA MUNICIPAL COORPORATION

                    School_Category  ... School_Management_ID  \
0                           Primary  ...                   11
1   Pr. with Up.Pr. sec. and H.Sec.  ...                   11
2   Pr. with Up.Pr. sec. and H.Sec.  ...                   11
3        Primary with Upper Primary  ...                   11
4     Pr. Up Pr. and Secondary Only  ...                   11

   Affiliation_Board        Contact_Name  Contact_Number  \
0                NaN         Susanta Das    9.436586e+09
1        State Board   Alak Bhattacharya    9.436450e+09
2        State Board   Alak Bhattacharya    9.436450e+09
3                NaN  SANJOY CHAKRABORTY    9.774329e+09
4        State Board         DULAL BANIK    9.774707e+09

                              Email_ID Is_Minority_School? Minority_Community  \
0                susantad304@gmail.com                  NO                NaN
1           bhattacharyaalak@gmail.com                  NO                NaN
2           bhattacharyaalak@gmail.com                  NO                NaN
3        dakshinnarayanpursb@gmail.com                  NO                NaN
4  madhyabhubanbanhighschool@gmail.com                  NO                NaN

  School_Location  School_Type_ID School_Type
0           Urban               3       Co-ed
1           Urban               3       Co-ed
2           Urban               3       Co-ed
3           Urban               3       Co-ed
4           Urban               3       Co-ed

[5 rows x 34 columns]

In [10]:
df.tail()

,School_Code,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,School_Management_ID,Affiliation_Board,Contact_Name,Contact_Number,Email_ID,Is_Minority_School?,Minority_Community,School_Location,School_Type_ID,School_Type
5819,N16080801001,JOYPUR (NABINCHERRA).SR.B.SCHOL (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,Kamal Chakma,8.837048e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5820,N16080801301,DHANICHERRA SR. B. SCHOOL. (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,JAYANTA CHAKMA,8.414877e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5821,N16080801303,KINACHARAN T/PARA SR.B.SCHOOL. (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,Swapan Chakma,7.005716e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5822,N16080900105,KALIPUR (JITU DIGIR PAR) JR.B. (Noon Shift),No,17-4-2024,14-08-2024,1,5,UNAKOTI,KAILASHAHAR M.C.,Primary,...,11,NaN,MITALI BHATTACHARJEE,9.436908e+09,0,2-NO,Not Available,2-Urban,3,Co-ed
5823,M16080900110,GOBINDAPUR SR.B.SCHOOL. (Morning Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,KAILASHAHAR M.C.,Primary with Upper Primary,...,11,NaN,ARPITA MAJUMDER,9.402347e+09,0,2-NO,Not Available,2-Urban,3,Co-ed

In [11]:
df.tail(8)

,School_Code,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,School_Management_ID,Affiliation_Board,Contact_Name,Contact_Number,Email_ID,Is_Minority_School?,Minority_Community,School_Location,School_Type_ID,School_Type
5816,N16080800501,KARAICHERRA SR. B. SCHOOL. (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,SUMITRA DE,9.366060e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5817,N16080800801,GADACHERRA SR. B. SCHOOL. (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,Purnima Chakma,9.862041e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5818,N16080800802,LAXMIPUR (PTL) SR.B.SCHOOL. (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,Debaraj Chakma,9.862102e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5819,N16080801001,JOYPUR (NABINCHERRA).SR.B.SCHOL (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,Kamal Chakma,8.837048e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5820,N16080801301,DHANICHERRA SR. B. SCHOOL. (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,JAYANTA CHAKMA,8.414877e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5821,N16080801303,KINACHARAN T/PARA SR.B.SCHOOL. (Noon Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,PECHARTHAL,Primary with Upper Primary,...,11,NaN,Swapan Chakma,7.005716e+09,0,2-NO,Not Available,1-Rural,3,Co-ed
5822,N16080900105,KALIPUR (JITU DIGIR PAR) JR.B. (Noon Shift),No,17-4-2024,14-08-2024,1,5,UNAKOTI,KAILASHAHAR M.C.,Primary,...,11,NaN,MITALI BHATTACHARJEE,9.436908e+09,0,2-NO,Not Available,2-Urban,3,Co-ed
5823,M16080900110,GOBINDAPUR SR.B.SCHOOL. (Morning Shift),No,17-4-2024,14-08-2024,1,8,UNAKOTI,KAILASHAHAR M.C.,Primary with Upper Primary,...,11,NaN,ARPITA MAJUMDER,9.402347e+09,0,2-NO,Not Available,2-Urban,3,Co-ed

In [13]:
df.sample(5)

,School_Code,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,School_Management_ID,Affiliation_Board,Contact_Name,Contact_Number,Email_ID,Is_Minority_School?,Minority_Community,School_Location,School_Type_ID,School_Type
1506,M16030102901,NAILAHABARI SB SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,8,DHALAI,AMBASSA,Primary with Upper Primary,...,11,NaN,Rajesh Sutradhar,7.005548e+09,NaN,NO,NaN,Rural,3,Co-ed
2662,M16040600104,BHAGYAPUR I.M. HIGH SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,10,NORTH TRIPURA,KALACHERRA,Pr. Up Pr. and Secondary Only,...,11,State Board,Pranab Debnath,9.436576e+09,NaN,NO,NaN,Rural,3,Co-ed
3570,M16061200807,RAMSARDAR PARA J.B SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,5,KHOWAI,TELIAMURA,Primary,...,12,NaN,RANJIT KALAI,8.974863e+09,NaN,NO,NaN,Rural,3,Co-ed
4431,M16070402204,RANGA CHARA J.B SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,5,GOMATI,AMARPUR,Primary,...,12,NaN,Ranga Chara JB School,9.436521e+09,NaN,NO,NaN,Rural,3,Co-ed
2790,N16040800403,KRISHNAPUR H.S.SCHOOL. (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,12,NORTH TRIPURA,JUBARAJNAGAR,Pr. with Up.Pr. sec. and H.Sec.,...,11,State Board,Dhananjoy Debbarma,9.402558e+09,krishnapurhs@gmail.com,NO,NaN,Rural,3,Co-ed

In [14]:
df.describe()

,Lowest_Class,Highest_Class,District_ID,Block_ID,Latitude,Longitude,State_ID,Village_ID,School_Category_ID,School_Established_Year,School_Management_ID,Contact_Number,School_Type_ID
count,5824.000000,5824.000000,5824.000000,5824.000000,5824.000000,5824.000000,5824.0,5824.0,5824.000000,5824.000000,5824.000000,5.822000e+03,5824.000000
mean,0.836538,7.662431,1604.131525,160420.338255,23.771687,91.606271,16.0,0.0,2.458791,1976.907967,11.276099,8.878847e+09,2.993647
std,1.060135,2.557071,2.151135,214.607432,0.842373,2.958655,0.0,0.0,1.813004,23.335897,1.803313,1.025911e+09,0.091513
min,-3.000000,5.000000,1601.000000,160101.000000,0.000000,0.000000,16.0,0.0,1.000000,1856.000000,2.000000,0.000000e+00,1.000000
25%,1.000000,5.000000,1602.000000,160214.000000,23.532930,91.431145,16.0,0.0,1.000000,1955.000000,11.000000,8.730045e+09,3.000000
50%,1.000000,8.000000,1604.000000,160404.000000,23.840405,91.650785,16.0,0.0,2.000000,1978.000000,11.000000,9.366380e+09,3.000000
75%,1.000000,10.000000,1606.000000,160615.000000,24.058187,91.991370,16.0,0.0,3.000000,2003.000000,12.000000,9.612340e+09,3.000000
max,6.000000,12.000000,1608.000000,160810.000000,24.546551,92.924300,16.0,0.0,7.000000,2023.000000,90.000000,9.957864e+09,3.000000

In [16]:
df.dtypes

School_Code                 object
School_Name                 object
Is_Active?                  object
Created_DateTime            object
Last_Modified_DateTime      object
Lowest_Class                 int64
Highest_Class                int64
District_Name               object
Block_Name                  object
School_Category             object
School_Management           object
District_ID                  int64
Block_ID                     int64
Latitude                   float64
Longitude                  float64
Cluster_Name                object
Cluster_ID                  object
State_Name                  object
State_ID                     int64
Medium                      object
Village_Name                object
Village_ID                   int64
School_Category_ID           int64
School_Established_Year      int64
School_Management_ID         int64
Affiliation_Board           object
Contact_Name                object
Contact_Number             float64
Email_ID                    object
Is_Minority_School?         object
Minority_Community          object
School_Location             object
School_Type_ID               int64
School_Type                 object
dtype: object

In [22]:
def add_one(x):
    return x + 1

df['School_Management_ID'] = df['School_Management_ID'].apply(add_one)


df.head(5)

,School_Code,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,School_Management_ID,Affiliation_Board,Contact_Name,Contact_Number,Email_ID,Is_Minority_School?,Minority_Community,School_Location,School_Type_ID,School_Type
0,M16010100108,DAKSHIN LANKAMURA J.B SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,5,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Primary,...,13,NaN,Susanta Das,9.436586e+09,susantad304@gmail.com,NO,NaN,Urban,3,Co-ed
1,N16010100109,LANKAMURA H.S. SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,13,State Board,Alak Bhattacharya,9.436450e+09,bhattacharyaalak@gmail.com,NO,NaN,Urban,3,Co-ed
2,M16010100109,LANKAMURA H.S. SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,13,State Board,Alak Bhattacharya,9.436450e+09,bhattacharyaalak@gmail.com,NO,NaN,Urban,3,Co-ed
3,M16010100110,DAKSHIN NARAYANPUR SB SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,8,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Primary with Upper Primary,...,13,NaN,SANJOY CHAKRABORTY,9.774329e+09,dakshinnarayanpursb@gmail.com,NO,NaN,Urban,3,Co-ed
4,N16010100207,MADHYA BHUBANBAN HIGH (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,10,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. Up Pr. and Secondary Only,...,13,State Board,DULAL BANIK,9.774707e+09,madhyabhubanbanhighschool@gmail.com,NO,NaN,Urban,3,Co-ed

In [23]:
df['new_column'] = df['School_Management_ID'] + df['School_Type_ID']

In [24]:
df.head()

,School_Code,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,Affiliation_Board,Contact_Name,Contact_Number,Email_ID,Is_Minority_School?,Minority_Community,School_Location,School_Type_ID,School_Type,new_column
0,M16010100108,DAKSHIN LANKAMURA J.B SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,5,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Primary,...,NaN,Susanta Das,9.436586e+09,susantad304@gmail.com,NO,NaN,Urban,3,Co-ed,16
1,N16010100109,LANKAMURA H.S. SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,State Board,Alak Bhattacharya,9.436450e+09,bhattacharyaalak@gmail.com,NO,NaN,Urban,3,Co-ed,16
2,M16010100109,LANKAMURA H.S. SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,State Board,Alak Bhattacharya,9.436450e+09,bhattacharyaalak@gmail.com,NO,NaN,Urban,3,Co-ed,16
3,M16010100110,DAKSHIN NARAYANPUR SB SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,8,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Primary with Upper Primary,...,NaN,SANJOY CHAKRABORTY,9.774329e+09,dakshinnarayanpursb@gmail.com,NO,NaN,Urban,3,Co-ed,16
4,N16010100207,MADHYA BHUBANBAN HIGH (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,10,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. Up Pr. and Secondary Only,...,State Board,DULAL BANIK,9.774707e+09,madhyabhubanbanhighschool@gmail.com,NO,NaN,Urban,3,Co-ed,16

In [28]:
filtered_data = df[df['Lowest_Class'] > 5]

filtered_data

,School_Code,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,Affiliation_Board,Contact_Name,Contact_Number,Email_ID,Is_Minority_School?,Minority_Community,School_Location,School_Type_ID,School_Type,new_column
69,N16010101608,BANI VIDYA PITH GIRLS' H./S (NOON SHIFT),Yes,12-07-2024,14-08-2024,6,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Up. Pr. Secondary and Higher Sec,...,State Board,Yashoda Reang,9.233823e+09,banividyapiths@gmail.com,NO,NaN,Urban,2,Girls,15
101,N16010102414,SWAMI DAYALANANDA VIDYANIKETAN CLASS - XII SCH...,Yes,12-07-2024,14-08-2024,6,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Up. Pr. Secondary and Higher Sec,...,State Board,Mili Dhar,7.005040e+09,swamidayalananda.hs@gmail.com,NO,NaN,Urban,3,Co-ed,9
137,N16010104504,BIDROHI KABI NAZRUL VIDYA BHAVAN (NOON SHIFT),Yes,12-07-2024,14-08-2024,6,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Up. Pr. Secondary and Higher Sec,...,State Board,Sarmistha Deb,7.005271e+09,bknvhsschool@gmail.com,NO,NaN,Urban,3,Co-ed,16
189,N16010300204,ISHAN CHANDRA NAGAR (P) H.S (NOON SHIFT),Yes,12-07-2024,14-08-2024,6,12,WEST TRIPURA,DUKLI,Up. Pr. Secondary and Higher Sec,...,State Board,Pranab Mallik,8.837418e+09,iphss1234@gmail.com,NO,NaN,Rural,3,Co-ed,9
294,N16010800501,KALAGACHIA HIGH SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,6,10,WEST TRIPURA,MOHANPUR,Upper Pr. and Secondary,...,State Board,Soma Debnath,8.655512e+09,8135ddo@gmail.com,NO,NaN,Rural,3,Co-ed,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5721,N16061701808,EKALAVYA MODEL RESIDENTIAL SCHOOL (Noon Shift),No,17-4-2024,14-08-2024,6,12,KHOWAI,TULASHIKHAR,Up. Pr. Secondary and Higher Sec,...,1-CBSE,MR. SOMION REANG,9.612211e+09,emrsrajnagar@gmail.com,2-NO,Not Available,1-Rural,3,Co-ed,7
5748,M16070103206,CHANDRAPUR H.S SCHOOL (Morning Shift),No,17-4-2024,14-08-2024,6,12,GOMATI,MATABARI,Up. Pr. Secondary and Higher Sec,...,2-State Board,CHANDRAPUR H.S SCHOOL,9.436456e+09,chandrapurhsschool@gmail.com,2-NO,Not Available,1-Rural,3,Co-ed,16
5752,M16070200311,JALEMABARI HS SCHOOL (Morning Shift),No,17-4-2024,14-08-2024,6,12,GOMATI,KILLA,Up. Pr. Secondary and Higher Sec,...,2-State Board,Amulya Jamatia,7.085768e+09,jalemabarihs@gmail.com,2-NO,Not Available,1-Rural,3,Co-ed,16
5786,M16070501604,AMPINAGAR H.S SCHOOL (Morning Shift),No,17-4-2024,14-08-2024,6,12,GOMATI,AMPINAGAR,Up. Pr. Secondary and Higher Sec,...,2-State Board,Bharat Debbarma,7.630019e+09,0,2-NO,Not Available,1-Rural,3,Co-ed,16
5800,M16070800302,TRIPURA SUNDARI H.S SCHOOL (Morning Shift),No,17-4-2024,14-08-2024,6,12,GOMATI,UDAIPUR M.C.,Up. Pr. Secondary and Higher Sec,...,2-State Board,NANDITA JAMATIA,8.259030e+09,tripurasundarischool1965@gmail.com,2-NO,Not Available,2-Urban,3,Co-ed,16

In [30]:
filtered_data2 = df[(df['Lowest_Class'] > 2) & (df['Highest_Class'] < 10)]

filtered_data2

,School_Code,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,Affiliation_Board,Contact_Name,Contact_Number,Email_ID,Is_Minority_School?,Minority_Community,School_Location,School_Type_ID,School_Type,new_column
1505,M16030102714,EKALAVYA MODEL RESIDENTIAL SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,6,8,DHALAI,AMBASSA,Upper Primary only,...,NaN,NaN,0.000000e+00,NaN,NO,NaN,Rural,3,Co-ed,7
2318,M16030901103,RADHARAMAN MEMORIAL ASHRAM JB SCHOOL (MORNING ...,Yes,12-07-2024,14-08-2024,3,5,DHALAI,AMBASSA M.C,Primary,...,NaN,AMIT SAHA,9.862217e+09,rmmas.abs@gmail.com,NO,NaN,Urban,3,Co-ed,7
4609,M16070601806,ASHRAM SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,3,5,GOMATI,KARBOOK,Primary,...,NaN,.TERESA DARLONG,8.732049e+09,NaN,NO,NaN,Rural,3,Co-ed,7

In [37]:
filtered_data3 = df[ (df['Highest_Class'] < 12) & (df['Lowest_Class'] > 1) & (df['Is_Active?'] == 'Yes')]

filtered_data3

,School_Code,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,Affiliation_Board,Contact_Name,Contact_Number,Email_ID,Is_Minority_School?,Minority_Community,School_Location,School_Type_ID,School_Type,new_column
294,N16010800501,KALAGACHIA HIGH SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,6,10,WEST TRIPURA,MOHANPUR,Upper Pr. and Secondary,...,State Board,Soma Debnath,8.655512e+09,8135ddo@gmail.com,NO,NaN,Rural,3,Co-ed,16
1115,N16021002414,RESIDENTIAL SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,6,10,SOUTH TRIPURA,SATCHAND,Upper Pr. and Secondary,...,CBSE,Nabendu Chakrabarti,9.863472e+09,principalrsbrtl@Gmail.com,NO,NaN,Rural,3,Co-ed,7
1505,M16030102714,EKALAVYA MODEL RESIDENTIAL SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,6,8,DHALAI,AMBASSA,Upper Primary only,...,NaN,NaN,0.000000e+00,NaN,NO,NaN,Rural,3,Co-ed,7
2318,M16030901103,RADHARAMAN MEMORIAL ASHRAM JB SCHOOL (MORNING ...,Yes,12-07-2024,14-08-2024,3,5,DHALAI,AMBASSA M.C,Primary,...,NaN,AMIT SAHA,9.862217e+09,rmmas.abs@gmail.com,NO,NaN,Urban,3,Co-ed,7
3794,N16061500803,UTTAR RAMCHANDRA GHAT HIGH (NOON SHIFT),Yes,12-07-2024,14-08-2024,6,10,KHOWAI,KHOWAI,Upper Pr. and Secondary,...,State Board,DAARATH DEBBARMA,8.794043e+09,NaN,NO,NaN,Rural,3,Co-ed,16
4235,N16070200912,EKLAVYA MODEL RESIDENTIAL SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,6,10,GOMATI,KILLA,Upper Pr. and Secondary,...,NaN,NUKPHANGTI JAMATIA,9.862453e+09,emdbskilla@gmail.com,NO,NaN,Rural,3,Co-ed,7
4609,M16070601806,ASHRAM SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,3,5,GOMATI,KARBOOK,Primary,...,NaN,.TERESA DARLONG,8.732049e+09,NaN,NO,NaN,Rural,3,Co-ed,7

In [39]:
df.isnull().sum()

School_Code                   0
School_Name                   0
Is_Active?                    0
Created_DateTime              0
Last_Modified_DateTime        0
Lowest_Class                  0
Highest_Class                 0
District_Name                 0
Block_Name                    0
School_Category               0
School_Management             0
District_ID                   0
Block_ID                      0
Latitude                      0
Longitude                     0
Cluster_Name                  0
Cluster_ID                    0
State_Name                    0
State_ID                      0
Medium                        0
Village_Name                526
Village_ID                    0
School_Category_ID            0
School_Established_Year       0
School_Management_ID          0
Affiliation_Board          4001
Contact_Name                  3
Contact_Number                2
Email_ID                   3180
Is_Minority_School?           4
Minority_Community         5045
School_Location               0
School_Type_ID                0
School_Type                   0
new_column                    0
dtype: int64

In [40]:
df['Village_Name'] = df['Village_Name'].fillna('Na')

df.isnull().sum()

School_Code                   0
School_Name                   0
Is_Active?                    0
Created_DateTime              0
Last_Modified_DateTime        0
Lowest_Class                  0
Highest_Class                 0
District_Name                 0
Block_Name                    0
School_Category               0
School_Management             0
District_ID                   0
Block_ID                      0
Latitude                      0
Longitude                     0
Cluster_Name                  0
Cluster_ID                    0
State_Name                    0
State_ID                      0
Medium                        0
Village_Name                  0
Village_ID                    0
School_Category_ID            0
School_Established_Year       0
School_Management_ID          0
Affiliation_Board          4001
Contact_Name                  3
Contact_Number                2
Email_ID                   3180
Is_Minority_School?           4
Minority_Community         5045
School_Location               0
School_Type_ID                0
School_Type                   0
new_column                    0
dtype: int64

In [42]:
df = df.dropna(subset = ['Affiliation_Board'])

df.isnull().sum()

School_Code                   0
School_Name                   0
Is_Active?                    0
Created_DateTime              0
Last_Modified_DateTime        0
Lowest_Class                  0
Highest_Class                 0
District_Name                 0
Block_Name                    0
School_Category               0
School_Management             0
District_ID                   0
Block_ID                      0
Latitude                      0
Longitude                     0
Cluster_Name                  0
Cluster_ID                    0
State_Name                    0
State_ID                      0
Medium                        0
Village_Name                  0
Village_ID                    0
School_Category_ID            0
School_Established_Year       0
School_Management_ID          0
Affiliation_Board             0
Contact_Name                  0
Contact_Number                0
Email_ID                    371
Is_Minority_School?           0
Minority_Community         1726
School_Location               0
School_Type_ID                0
School_Type                   0
new_column                    0
dtype: int64

In [47]:
df.dropna(inplace = True)

In [48]:
df.isnull().sum()

School_Code                0
School_Name                0
Is_Active?                 0
Created_DateTime           0
Last_Modified_DateTime     0
Lowest_Class               0
Highest_Class              0
District_Name              0
Block_Name                 0
School_Category            0
School_Management          0
District_ID                0
Block_ID                   0
Latitude                   0
Longitude                  0
Cluster_Name               0
Cluster_ID                 0
State_Name                 0
State_ID                   0
Medium                     0
Village_Name               0
Village_ID                 0
School_Category_ID         0
School_Established_Year    0
School_Management_ID       0
Affiliation_Board          0
Contact_Name               0
Contact_Number             0
Is_Minority_School?        0
School_Location            0
School_Type_ID             0
School_Type                0
new_column                 0
dtype: int64

In [52]:
df = df.rename(columns = {'School_Code' : 'School_ID'})
df.head()

,School_ID,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,School_Established_Year,School_Management_ID,Affiliation_Board,Contact_Name,Contact_Number,Is_Minority_School?,School_Location,School_Type_ID,School_Type,new_column
1,N16010100109,LANKAMURA H.S. SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,1952,13,State Board,Alak Bhattacharya,9.436450e+09,NO,Urban,3,Co-ed,16
2,M16010100109,LANKAMURA H.S. SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,1952,13,State Board,Alak Bhattacharya,9.436450e+09,NO,Urban,3,Co-ed,16
4,N16010100207,MADHYA BHUBANBAN HIGH (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,10,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. Up Pr. and Secondary Only,...,1958,13,State Board,DULAL BANIK,9.774707e+09,NO,Urban,3,Co-ed,16
5,M16010100207,MADHYA BHUBANBAN HIGH (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,10,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. Up Pr. and Secondary Only,...,1958,13,State Board,DULAL BANIK,9.774707e+09,NO,Urban,3,Co-ed,16
6,N16010100209,PASCHIM BHUBANBAN ENG.MED. SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,10,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. Up Pr. and Secondary Only,...,1951,13,State Board,Mili Debbarma,9.436487e+09,NO,Urban,3,Co-ed,16

In [53]:
df = df.drop(columns= ['Affiliation_Board'])

df.head()

,School_ID,School_Name,Is_Active?,Created_DateTime,Last_Modified_DateTime,Lowest_Class,Highest_Class,District_Name,Block_Name,School_Category,...,School_Category_ID,School_Established_Year,School_Management_ID,Contact_Name,Contact_Number,Is_Minority_School?,School_Location,School_Type_ID,School_Type,new_column
1,N16010100109,LANKAMURA H.S. SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,3,1952,13,Alak Bhattacharya,9.436450e+09,NO,Urban,3,Co-ed,16
2,M16010100109,LANKAMURA H.S. SCHOOL (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,12,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. with Up.Pr. sec. and H.Sec.,...,3,1952,13,Alak Bhattacharya,9.436450e+09,NO,Urban,3,Co-ed,16
4,N16010100207,MADHYA BHUBANBAN HIGH (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,10,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. Up Pr. and Secondary Only,...,6,1958,13,DULAL BANIK,9.774707e+09,NO,Urban,3,Co-ed,16
5,M16010100207,MADHYA BHUBANBAN HIGH (MORNING SHIFT),Yes,12-07-2024,14-08-2024,1,10,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. Up Pr. and Secondary Only,...,6,1958,13,DULAL BANIK,9.774707e+09,NO,Urban,3,Co-ed,16
6,N16010100209,PASCHIM BHUBANBAN ENG.MED. SCHOOL (NOON SHIFT),Yes,12-07-2024,14-08-2024,1,10,WEST TRIPURA,AGARTALA MUNICIPAL COORPORATION,Pr. Up Pr. and Secondary Only,...,6,1951,13,Mili Debbarma,9.436487e+09,NO,Urban,3,Co-ed,16