In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("C:/Users/user/Downloads/Python Problems/Numpy,Pandas &Visualizaation/Files_Dataset/Product-Sales-Region.xlsx")

In [3]:
df.head(5)

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,PaymentMethod,Promotion,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,Online,FREESHIP,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,Gift Card,SAVE10,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,Online,WINTER15,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,Gift Card,FREESHIP,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,Online,SAVE10,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric

In [4]:
df.sample(frac=0.1)

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,PaymentMethod,Promotion,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager
143,2025-06-11,North,Phone,18,152.84,Store C,Retail,0.15,Diana,2338.4520,Debit Card,FREESHIP,1,REG100143,Cust 8905,20.30,2025-06-11,2025-06-20,Ryan
1030,2024-06-15,East,Chair,1,394.41,Store B,Retail,0.10,Alice,354.9690,Gift Card,WINTER15,0,REG101030,Cust 7826,6.37,2024-06-15,2024-06-20,Eric
106,2025-06-09,Central,Printer,2,73.94,Store B,Wholesale,0.05,Carlos,140.4860,Debit Card,SAVE10,0,REG100106,Cust 4121,28.05,2025-06-09,2025-06-16,Cameron
486,2023-07-19,West,Monitor,20,526.55,Store A,Wholesale,0.00,Alice,10531.0000,Debit Card,FREESHIP,1,REG100486,Cust 1210,25.64,2023-07-19,2023-07-26,Wendy
1253,2025-01-05,North,Printer,17,5.91,Store A,Wholesale,0.15,Eva,85.3995,Online,SAVE10,0,REG101253,Cust 6186,44.85,2025-01-05,2025-01-13,Ryan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1133,2023-09-06,Central,Phone,17,588.58,Store D,Wholesale,0.05,Diana,9505.5670,Debit Card,SAVE10,1,REG101133,Cust 1670,25.31,2023-09-06,2023-09-13,Cameron
1163,2024-01-13,South,Desk,12,103.59,Store A,Retail,0.10,Frank,1118.7720,Debit Card,FREESHIP,0,REG101163,Cust 9880,48.11,2024-01-13,2024-01-21,Sophie
429,2024-11-23,South,Tablet,8,414.94,Store A,Wholesale,0.00,Alice,3319.5200,Debit Card,SAVE10,0,REG100429,Cust 4423,46.58,2024-11-23,2024-11-26,Sophie
1485,2025-05-16,South,Laptop,4,472.24,Store D,Retail,0.00,Alice,1888.9600,Gift Card,FREESHIP,1,REG101485,Cust 7211,6.78,2025-05-16,2025-05-21,Sophie
523,2024-09-01,South,Laptop,16,588.92,Store D,Wholesale,0.15,Alice,8009.3120,Cash,FREESHIP,0,REG100523,Cust 3887,7.89,2024-09-01,2024-09-05,Sophie

In [5]:
df.isnull().sum()

Date               0
Region             0
Product            0
Quantity           0
UnitPrice          0
StoreLocation      0
CustomerType       0
Discount           0
Salesperson        0
TotalPrice         0
PaymentMethod      0
Promotion        370
Returned           0
OrderID            0
CustomerName       0
ShippingCost       0
OrderDate          0
DeliveryDate       0
RegionManager      0
dtype: int64

In [6]:
df.columns

Index(['Date', 'Region', 'Product', 'Quantity', 'UnitPrice', 'StoreLocation',
       'CustomerType', 'Discount', 'Salesperson', 'TotalPrice',
       'PaymentMethod', 'Promotion', 'Returned', 'OrderID', 'CustomerName',
       'ShippingCost', 'OrderDate', 'DeliveryDate', 'RegionManager'],
      dtype='object')

In [7]:
df.shape

(1500, 19)

In [8]:
df['Promotion'].fillna(df['Promotion'].mode()[0], inplace = True)

In [9]:
df.isnull().sum()

Date             0
Region           0
Product          0
Quantity         0
UnitPrice        0
StoreLocation    0
CustomerType     0
Discount         0
Salesperson      0
TotalPrice       0
PaymentMethod    0
Promotion        0
Returned         0
OrderID          0
CustomerName     0
ShippingCost     0
OrderDate        0
DeliveryDate     0
RegionManager    0
dtype: int64

In [10]:
#What is the total revenue (sum of TotalPrice) for all orders in the dataset?

In [11]:
total_sum = df['TotalPrice'].sum()
print("total revenue is", total_sum)

total revenue is 4379992.4285

In [12]:
#How many orders were placed in each Region?

In [13]:
df.groupby('Region')['OrderID'].count()

Region
Central    301
East       311
North      309
South      295
West       284
Name: OrderID, dtype: int64

In [14]:
df.groupby(['Region','Product'])['OrderID'].count().reset_index()

     Region  Product  OrderID
0   Central    Chair       43
1   Central     Desk       43
2   Central   Laptop       46
3   Central  Monitor       41
4   Central    Phone       28
5   Central  Printer       46
6   Central   Tablet       54
7      East    Chair       40
8      East     Desk       43
9      East   Laptop       53
10     East  Monitor       37
11     East    Phone       50
12     East  Printer       41
13     East   Tablet       47
14    North    Chair       42
15    North     Desk       53
16    North   Laptop       35
17    North  Monitor       48
18    North    Phone       41
19    North  Printer       46
20    North   Tablet       44
21    South    Chair       51
22    South     Desk       29
23    South   Laptop       55
24    South  Monitor       38
25    South    Phone       48
26    South  Printer       38
27    South   Tablet       36
28     West    Chair       33
29     West     Desk       39
30     West   Laptop       37
31     West  Monitor       48
32     West    Phone       28
33     West  Printer       40
34     West   Tablet       59

In [15]:
df.groupby('Region').agg({'TotalPrice':['sum', 'mean']}).reset_index()

    Region   TotalPrice
                    sum         mean
0  Central  847153.6845  2814.464068
1     East  883633.7180  2841.265974
2    North  967957.9800  3132.550097
3    South  827768.1870  2805.993854
4     West  853478.8590  3005.207250

In [16]:
sum_avg = df.groupby('Region').agg(total_revenue=('TotalPrice', 'sum'),average_revenue=('TotalPrice', 'mean')).reset_index()

In [17]:
sum_avg

    Region  total_revenue  average_revenue
0  Central    847153.6845      2814.464068
1     East    883633.7180      2841.265974
2    North    967957.9800      3132.550097
3    South    827768.1870      2805.993854
4     West    853478.8590      3005.207250

In [18]:
df['mean_totalprice'] = df.groupby('Region')['TotalPrice'].transform('mean')

In [19]:
df

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,PaymentMethod,Promotion,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,Online,FREESHIP,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2841.265974
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,Gift Card,SAVE10,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,2805.993854
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,Online,WINTER15,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan,3132.550097
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,Gift Card,FREESHIP,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron,2814.464068
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,Online,SAVE10,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric,2841.265974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2025-02-17,West,Desk,13,134.56,Store D,Retail,0.05,Carlos,1661.816,Credit Card,WINTER15,0,REG101495,Cust 5227,35.63,2025-02-17,2025-02-22,Wendy,3005.207250
1496,2024-01-11,South,Chair,18,209.75,Store C,Wholesale,0.15,Frank,3209.175,Debit Card,FREESHIP,0,REG101496,Cust 5559,45.93,2024-01-11,2024-01-17,Sophie,2805.993854
1497,2024-07-27,East,Desk,1,272.50,Store A,Wholesale,0.00,Eva,272.500,Gift Card,WINTER15,0,REG101497,Cust 8981,35.56,2024-07-27,2024-08-03,Eric,2841.265974
1498,2024-12-03,Central,Monitor,14,262.67,Store A,Retail,0.05,Carlos,3493.511,Gift Card,SAVE10,0,REG101498,Cust 1824,24.53,2024-12-03,2024-12-10,Cameron,2814.464068
1499,2025-05-09,West,Chair,13,221.39,Store D,Wholesale,0.00,Frank,2878.070,Debit Card,FREESHIP,1,REG101499,Cust 1935,21.05,2025-05-09,2025-05-13,Wendy,3005.207250

In [20]:
df['rank_by_region'] = df.groupby('Region')['TotalPrice'].rank(ascending = False)
df

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,Promotion,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,...,FREESHIP,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2841.265974,140.0
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,...,SAVE10,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,2805.993854,235.0
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,...,WINTER15,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan,3132.550097,91.0
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,...,FREESHIP,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron,2814.464068,41.0
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,...,SAVE10,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric,2841.265974,83.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2025-02-17,West,Desk,13,134.56,Store D,Retail,0.05,Carlos,1661.816,...,WINTER15,0,REG101495,Cust 5227,35.63,2025-02-17,2025-02-22,Wendy,3005.207250,169.0
1496,2024-01-11,South,Chair,18,209.75,Store C,Wholesale,0.15,Frank,3209.175,...,FREESHIP,0,REG101496,Cust 5559,45.93,2024-01-11,2024-01-17,Sophie,2805.993854,104.0
1497,2024-07-27,East,Desk,1,272.50,Store A,Wholesale,0.00,Eva,272.500,...,WINTER15,0,REG101497,Cust 8981,35.56,2024-07-27,2024-08-03,Eric,2841.265974,282.0
1498,2024-12-03,Central,Monitor,14,262.67,Store A,Retail,0.05,Carlos,3493.511,...,SAVE10,0,REG101498,Cust 1824,24.53,2024-12-03,2024-12-10,Cameron,2814.464068,100.0
1499,2025-05-09,West,Chair,13,221.39,Store D,Wholesale,0.00,Frank,2878.070,...,FREESHIP,1,REG101499,Cust 1935,21.05,2025-05-09,2025-05-13,Wendy,3005.207250,111.0

In [21]:
df['rank_by_toalprice'] = df['TotalPrice'].rank(ascending = False)
df

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,...,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,...,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,2805.993854,235.0,1230.0
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,...,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan,3132.550097,91.0,380.0
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,...,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron,2814.464068,41.0,238.0
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,...,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric,2841.265974,83.0,390.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2025-02-17,West,Desk,13,134.56,Store D,Retail,0.05,Carlos,1661.816,...,0,REG101495,Cust 5227,35.63,2025-02-17,2025-02-22,Wendy,3005.207250,169.0,887.0
1496,2024-01-11,South,Chair,18,209.75,Store C,Wholesale,0.15,Frank,3209.175,...,0,REG101496,Cust 5559,45.93,2024-01-11,2024-01-17,Sophie,2805.993854,104.0,529.0
1497,2024-07-27,East,Desk,1,272.50,Store A,Wholesale,0.00,Eva,272.500,...,0,REG101497,Cust 8981,35.56,2024-07-27,2024-08-03,Eric,2841.265974,282.0,1372.0
1498,2024-12-03,Central,Monitor,14,262.67,Store A,Retail,0.05,Carlos,3493.511,...,0,REG101498,Cust 1824,24.53,2024-12-03,2024-12-10,Cameron,2814.464068,100.0,487.0
1499,2025-05-09,West,Chair,13,221.39,Store D,Wholesale,0.00,Frank,2878.070,...,1,REG101499,Cust 1935,21.05,2025-05-09,2025-05-13,Wendy,3005.207250,111.0,598.0

In [22]:
#What is the average Quantity of products sold per order?

In [23]:
df['Quantity'].mean()

10.410666666666666

In [24]:
#Which Product type appears most frequently in the orders?

In [25]:
df['Product'].mode()

0    Tablet
Name: Product, dtype: object

In [26]:
#How many orders were returned (Returned = 1)

In [27]:
df[df['Returned'] == 1]['OrderID'].count()

372

In [28]:
df.columns

Index(['Date', 'Region', 'Product', 'Quantity', 'UnitPrice', 'StoreLocation',
       'CustomerType', 'Discount', 'Salesperson', 'TotalPrice',
       'PaymentMethod', 'Promotion', 'Returned', 'OrderID', 'CustomerName',
       'ShippingCost', 'OrderDate', 'DeliveryDate', 'RegionManager',
       'mean_totalprice', 'rank_by_region', 'rank_by_toalprice'],
      dtype='object')

In [29]:
#What is the total revenue generated by each Salesperson, sorted from highest to lowest?

In [30]:
df.groupby('Salesperson')['TotalPrice'].sum().sort_values(ascending = False)

Salesperson
Bob       796780.5215
Alice     786165.8400
Frank     714641.5220
Carlos    707166.7160
Eva       698669.5795
Diana     676568.2495
Name: TotalPrice, dtype: float64

In [31]:
# Calculate the average discount rate by CustomerType and Region. Which combination has the highest average discount?

In [32]:
df.groupby(['CustomerType','Region'])['Discount'].mean().reset_index().sort_values(by = 'Discount',ascending = False)

  CustomerType   Region  Discount
2       Retail    North  0.082335
4       Retail     West  0.076336
5    Wholesale  Central  0.074648
1       Retail     East  0.074490
0       Retail  Central  0.073899
3       Retail    South  0.073571
8    Wholesale    South  0.072903
6    Wholesale     East  0.068598
7    Wholesale    North  0.067606
9    Wholesale     West  0.066667

In [33]:
#Find the total ShippingCost for orders that used each PaymentMethod. Display results as a sorted table.

In [34]:
#What percentage of orders in each Region were returned? Create a summary showing Region, Total Orders, Returned Orders, and Return Rate.

In [35]:
# For each Product category, calculate the revenue per unit (TotalPrice/Quantity) and identify which product has the highest average revenue per unit.

In [36]:
df.sample(5)

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice
321,2024-02-13,West,Monitor,7,353.99,Store C,Wholesale,0.05,Carlos,2354.0335,...,0,REG100321,Cust 5973,5.93,2024-02-13,2024-02-20,Wendy,3005.207250,137.0,705.0
935,2024-03-03,East,Laptop,1,176.17,Store C,Retail,0.05,Alice,167.3615,...,1,REG100935,Cust 9833,35.77,2024-03-03,2024-03-06,Eric,2841.265974,295.0,1431.0
1465,2023-09-04,Central,Chair,14,115.98,Store A,Wholesale,0.00,Bob,1623.7200,...,0,REG101465,Cust 5465,31.85,2023-09-04,2023-09-06,Cameron,2814.464068,173.0,901.0
772,2023-08-07,West,Printer,5,596.97,Store A,Retail,0.00,Eva,2984.8500,...,0,REG100772,Cust 3767,14.43,2023-08-07,2023-08-14,Wendy,3005.207250,108.0,577.0
974,2023-03-03,North,Chair,16,571.26,Store C,Wholesale,0.15,Bob,7769.1360,...,0,REG100974,Cust 7808,6.13,2023-03-03,2023-03-12,Ryan,3132.550097,21.0,88.0

In [37]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,1500.0,10.410667,5.735732,1.000000,5.000000,11.000000,15.00000,20.000000
UnitPrice,1500.0,298.826947,169.100075,5.520000,151.020000,294.740000,446.70250,599.720000
Discount,1500.0,0.073133,0.055979,0.000000,0.000000,0.050000,0.10000,0.150000
TotalPrice,1500.0,2919.994952,2522.789977,6.970000,867.136250,2174.724000,4414.72350,11077.000000
Returned,1500.0,0.248000,0.431996,0.000000,0.000000,0.000000,0.00000,1.000000
ShippingCost,1500.0,27.507293,13.093453,5.010000,16.700000,27.100000,38.63500,49.980000
mean_totalprice,1500.0,2919.994952,129.494331,2805.993854,2814.464068,2841.265974,3005.20725,3132.550097
rank_by_region,1500.0,150.661333,86.907111,1.000000,75.750000,150.500000,225.25000,311.000000
rank_by_toalprice,1500.0,750.500000,433.157015,1.000000,375.750000,750.500000,1125.25000,1500.000000

In [38]:
df.dtypes

Date                 datetime64[ns]
Region                       object
Product                      object
Quantity                      int64
UnitPrice                   float64
StoreLocation                object
CustomerType                 object
Discount                    float64
Salesperson                  object
TotalPrice                  float64
PaymentMethod                object
Promotion                    object
Returned                      int64
OrderID                      object
CustomerName                 object
ShippingCost                float64
OrderDate            datetime64[ns]
DeliveryDate         datetime64[ns]
RegionManager                object
mean_totalprice             float64
rank_by_region              float64
rank_by_toalprice           float64
dtype: object

In [39]:
df.rename(columns = {'Product': 'products'})

,Date,Region,products,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,...,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,...,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,2805.993854,235.0,1230.0
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,...,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan,3132.550097,91.0,380.0
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,...,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron,2814.464068,41.0,238.0
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,...,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric,2841.265974,83.0,390.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2025-02-17,West,Desk,13,134.56,Store D,Retail,0.05,Carlos,1661.816,...,0,REG101495,Cust 5227,35.63,2025-02-17,2025-02-22,Wendy,3005.207250,169.0,887.0
1496,2024-01-11,South,Chair,18,209.75,Store C,Wholesale,0.15,Frank,3209.175,...,0,REG101496,Cust 5559,45.93,2024-01-11,2024-01-17,Sophie,2805.993854,104.0,529.0
1497,2024-07-27,East,Desk,1,272.50,Store A,Wholesale,0.00,Eva,272.500,...,0,REG101497,Cust 8981,35.56,2024-07-27,2024-08-03,Eric,2841.265974,282.0,1372.0
1498,2024-12-03,Central,Monitor,14,262.67,Store A,Retail,0.05,Carlos,3493.511,...,0,REG101498,Cust 1824,24.53,2024-12-03,2024-12-10,Cameron,2814.464068,100.0,487.0
1499,2025-05-09,West,Chair,13,221.39,Store D,Wholesale,0.00,Frank,2878.070,...,1,REG101499,Cust 1935,21.05,2025-05-09,2025-05-13,Wendy,3005.207250,111.0,598.0

In [40]:
df.head()

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,...,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,...,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,2805.993854,235.0,1230.0
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,...,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan,3132.550097,91.0,380.0
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,...,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron,2814.464068,41.0,238.0
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,...,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric,2841.265974,83.0,390.0

In [41]:
df.iloc[1:10,1:5]

    Region  Product  Quantity  UnitPrice
1    South    Phone         1     544.01
2    North     Desk        14     346.18
3  Central    Chair        18     384.82
4     East     Desk        18     237.76
5  Central  Monitor         2     385.09
6    South    Chair         7      17.50
7  Central    Chair         3     330.22
8    South    Chair         3     432.04
9     West     Desk         5     323.28

In [42]:
df['Region'].value_counts()

East       311
North      309
Central    301
South      295
West       284
Name: Region, dtype: int64

In [43]:
df['Region'].count()

1500

In [44]:
df['Product'].nunique()

7

In [45]:
df['Product'].unique()

array(['Laptop', 'Phone', 'Desk', 'Chair', 'Monitor', 'Tablet', 'Printer'],
      dtype=object)

In [46]:
df.size

33000

In [47]:
df.sort_values('TotalPrice', ascending = False).head(5).reset_index()

,index,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,...,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice
0,471,2023-01-16,West,Phone,20,553.85,Store A,Retail,0.00,Frank,...,0,REG100471,Cust 6211,33.21,2023-01-16,2023-01-24,Wendy,3005.207250,1.0,1.0
1,229,2024-10-05,East,Tablet,20,576.30,Store D,Wholesale,0.05,Eva,...,0,REG100229,Cust 4627,25.22,2024-10-05,2024-10-09,Eric,2841.265974,1.0,2.0
2,980,2025-01-27,Central,Printer,20,537.28,Store C,Wholesale,0.00,Frank,...,1,REG100980,Cust 5462,15.60,2025-01-27,2025-02-02,Cameron,2814.464068,1.0,3.0
3,1271,2024-02-04,Central,Tablet,18,595.53,Store B,Retail,0.00,Frank,...,0,REG101271,Cust 9534,42.91,2024-02-04,2024-02-06,Cameron,2814.464068,2.0,4.0
4,336,2024-03-22,West,Laptop,19,590.00,Store D,Retail,0.05,Alice,...,0,REG100336,Cust 1422,5.91,2024-03-22,2024-03-25,Wendy,3005.207250,2.0,5.0

In [48]:
df.drop_duplicates('CustomerName').shape

(1371, 22)

In [49]:
df['CustomerName'].nunique()

1371

In [50]:
df[df.duplicated()]   #no duplicate row

Empty DataFrame
Columns: [Date, Region, Product, Quantity, UnitPrice, StoreLocation, CustomerType, Discount, Salesperson, TotalPrice, PaymentMethod, Promotion, Returned, OrderID, CustomerName, ShippingCost, OrderDate, DeliveryDate, RegionManager, mean_totalprice, rank_by_region, rank_by_toalprice]
Index: []

[0 rows x 22 columns]

In [51]:
df.drop_duplicates()

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,...,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,...,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,2805.993854,235.0,1230.0
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,...,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan,3132.550097,91.0,380.0
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,...,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron,2814.464068,41.0,238.0
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,...,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric,2841.265974,83.0,390.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2025-02-17,West,Desk,13,134.56,Store D,Retail,0.05,Carlos,1661.816,...,0,REG101495,Cust 5227,35.63,2025-02-17,2025-02-22,Wendy,3005.207250,169.0,887.0
1496,2024-01-11,South,Chair,18,209.75,Store C,Wholesale,0.15,Frank,3209.175,...,0,REG101496,Cust 5559,45.93,2024-01-11,2024-01-17,Sophie,2805.993854,104.0,529.0
1497,2024-07-27,East,Desk,1,272.50,Store A,Wholesale,0.00,Eva,272.500,...,0,REG101497,Cust 8981,35.56,2024-07-27,2024-08-03,Eric,2841.265974,282.0,1372.0
1498,2024-12-03,Central,Monitor,14,262.67,Store A,Retail,0.05,Carlos,3493.511,...,0,REG101498,Cust 1824,24.53,2024-12-03,2024-12-10,Cameron,2814.464068,100.0,487.0
1499,2025-05-09,West,Chair,13,221.39,Store D,Wholesale,0.00,Frank,2878.070,...,1,REG101499,Cust 1935,21.05,2025-05-09,2025-05-13,Wendy,3005.207250,111.0,598.0

In [52]:
#filter rows where PaymentMethod is online and ShippingCost is greater than 30
#method 1
cast = (df['PaymentMethod'] == 'Online') & (df['ShippingCost'] > 30)
df[cast]

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,...,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0
16,2023-02-26,West,Laptop,19,236.11,Store D,Wholesale,0.00,Bob,4486.090,...,0,REG100016,Cust 4975,34.11,2023-02-26,2023-03-04,Wendy,3005.207250,68.0,367.0
21,2023-03-03,Central,Chair,14,312.79,Store A,Retail,0.05,Bob,4160.107,...,1,REG100021,Cust 4186,46.83,2023-03-03,2023-03-08,Cameron,2814.464068,80.0,406.0
29,2023-05-09,Central,Tablet,1,472.07,Store A,Wholesale,0.10,Carlos,424.863,...,0,REG100029,Cust 7072,33.17,2023-05-09,2023-05-17,Cameron,2814.464068,261.0,1295.0
34,2025-05-08,North,Monitor,4,559.72,Store D,Retail,0.15,Diana,1903.048,...,0,REG100034,Cust 3953,41.91,2025-05-08,2025-05-12,Ryan,3132.550097,179.0,814.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,2023-09-18,South,Printer,14,268.32,Store D,Retail,0.00,Frank,3756.480,...,0,REG101407,Cust 7302,43.14,2023-09-18,2023-09-27,Sophie,2805.993854,85.0,451.0
1426,2023-05-10,East,Phone,18,580.42,Store A,Wholesale,0.05,Bob,9925.182,...,0,REG101426,Cust 4392,37.81,2023-05-10,2023-05-17,Eric,2841.265974,4.0,15.0
1466,2023-12-17,South,Monitor,9,55.04,Store B,Retail,0.15,Alice,421.056,...,0,REG101466,Cust 2311,31.09,2023-12-17,2023-12-23,Sophie,2805.993854,250.0,1297.0
1468,2024-12-19,Central,Laptop,15,150.15,Store C,Retail,0.00,Frank,2252.250,...,0,REG101468,Cust 8054,35.94,2024-12-19,2024-12-29,Cameron,2814.464068,147.0,734.0
1494,2025-01-14,East,Tablet,5,201.29,Store D,Wholesale,0.00,Carlos,1006.450,...,0,REG101494,Cust 6791,49.13,2025-01-14,2025-01-21,Eric,2841.265974,212.0,1081.0

In [53]:
#filter rows where PaymentMethod is online and ShippingCost is greater than 30
#method 2
df[(df['PaymentMethod'] == 'Online') & (df['ShippingCost'] > 30)]

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,...,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0
16,2023-02-26,West,Laptop,19,236.11,Store D,Wholesale,0.00,Bob,4486.090,...,0,REG100016,Cust 4975,34.11,2023-02-26,2023-03-04,Wendy,3005.207250,68.0,367.0
21,2023-03-03,Central,Chair,14,312.79,Store A,Retail,0.05,Bob,4160.107,...,1,REG100021,Cust 4186,46.83,2023-03-03,2023-03-08,Cameron,2814.464068,80.0,406.0
29,2023-05-09,Central,Tablet,1,472.07,Store A,Wholesale,0.10,Carlos,424.863,...,0,REG100029,Cust 7072,33.17,2023-05-09,2023-05-17,Cameron,2814.464068,261.0,1295.0
34,2025-05-08,North,Monitor,4,559.72,Store D,Retail,0.15,Diana,1903.048,...,0,REG100034,Cust 3953,41.91,2025-05-08,2025-05-12,Ryan,3132.550097,179.0,814.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,2023-09-18,South,Printer,14,268.32,Store D,Retail,0.00,Frank,3756.480,...,0,REG101407,Cust 7302,43.14,2023-09-18,2023-09-27,Sophie,2805.993854,85.0,451.0
1426,2023-05-10,East,Phone,18,580.42,Store A,Wholesale,0.05,Bob,9925.182,...,0,REG101426,Cust 4392,37.81,2023-05-10,2023-05-17,Eric,2841.265974,4.0,15.0
1466,2023-12-17,South,Monitor,9,55.04,Store B,Retail,0.15,Alice,421.056,...,0,REG101466,Cust 2311,31.09,2023-12-17,2023-12-23,Sophie,2805.993854,250.0,1297.0
1468,2024-12-19,Central,Laptop,15,150.15,Store C,Retail,0.00,Frank,2252.250,...,0,REG101468,Cust 8054,35.94,2024-12-19,2024-12-29,Cameron,2814.464068,147.0,734.0
1494,2025-01-14,East,Tablet,5,201.29,Store D,Wholesale,0.00,Carlos,1006.450,...,0,REG101494,Cust 6791,49.13,2025-01-14,2025-01-21,Eric,2841.265974,212.0,1081.0

In [54]:
#filter rows where PaymentMethod is online and ShippingCost is greater than 30
#method 3
df.query("PaymentMethod == 'online' and ShippingCost > 5")

Empty DataFrame
Columns: [Date, Region, Product, Quantity, UnitPrice, StoreLocation, CustomerType, Discount, Salesperson, TotalPrice, PaymentMethod, Promotion, Returned, OrderID, CustomerName, ShippingCost, OrderDate, DeliveryDate, RegionManager, mean_totalprice, rank_by_region, rank_by_toalprice]
Index: []

[0 rows x 22 columns]

In [55]:
orders = df[['OrderID', 'Date', 'Product', 'Quantity', 'TotalPrice']]
orders

        OrderID       Date  Product  Quantity  TotalPrice
0     REG100000 2023-02-23   Laptop        14    2290.400
1     REG100001 2024-12-19    Phone         1     544.010
2     REG100002 2023-05-10     Desk        14    4361.868
3     REG100003 2025-02-26    Chair        18    5887.746
4     REG100004 2023-06-24     Desk        18    4279.680
...         ...        ...      ...       ...         ...
1495  REG101495 2025-02-17     Desk        13    1661.816
1496  REG101496 2024-01-11    Chair        18    3209.175
1497  REG101497 2024-07-27     Desk         1     272.500
1498  REG101498 2024-12-03  Monitor        14    3493.511
1499  REG101499 2025-05-09    Chair        13    2878.070

[1500 rows x 5 columns]

In [56]:
customers = df[['OrderID', 'CustomerName', 'CustomerType', 'Region']].drop_duplicates()
customers

        OrderID CustomerName CustomerType   Region
0     REG100000    Cust 6583    Wholesale     East
1     REG100001    Cust 2144       Retail    South
2     REG100002    Cust 5998    Wholesale    North
3     REG100003    Cust 7136    Wholesale  Central
4     REG100004    Cust 6506       Retail     East
...         ...          ...          ...      ...
1495  REG101495    Cust 5227       Retail     West
1496  REG101496    Cust 5559    Wholesale    South
1497  REG101497    Cust 8981    Wholesale     East
1498  REG101498    Cust 1824       Retail  Central
1499  REG101499    Cust 1935    Wholesale     West

[1500 rows x 4 columns]

In [57]:
#join orders and customers
#method1
pd.merge(orders, customers, on = 'OrderID', how = 'inner')

,OrderID,Date,Product,Quantity,TotalPrice,CustomerName,CustomerType,Region
0,REG100000,2023-02-23,Laptop,14,2290.400,Cust 6583,Wholesale,East
1,REG100001,2024-12-19,Phone,1,544.010,Cust 2144,Retail,South
2,REG100002,2023-05-10,Desk,14,4361.868,Cust 5998,Wholesale,North
3,REG100003,2025-02-26,Chair,18,5887.746,Cust 7136,Wholesale,Central
4,REG100004,2023-06-24,Desk,18,4279.680,Cust 6506,Retail,East
...,...,...,...,...,...,...,...,...
1495,REG101495,2025-02-17,Desk,13,1661.816,Cust 5227,Retail,West
1496,REG101496,2024-01-11,Chair,18,3209.175,Cust 5559,Wholesale,South
1497,REG101497,2024-07-27,Desk,1,272.500,Cust 8981,Wholesale,East
1498,REG101498,2024-12-03,Monitor,14,3493.511,Cust 1824,Retail,Central
1499,REG101499,2025-05-09,Chair,13,2878.070,Cust 1935,Wholesale,West

In [58]:
#join orders and customers
#method2
orders.merge(customers, left_on = 'OrderID', right_on = 'OrderID', how = 'left')

,OrderID,Date,Product,Quantity,TotalPrice,CustomerName,CustomerType,Region
0,REG100000,2023-02-23,Laptop,14,2290.400,Cust 6583,Wholesale,East
1,REG100001,2024-12-19,Phone,1,544.010,Cust 2144,Retail,South
2,REG100002,2023-05-10,Desk,14,4361.868,Cust 5998,Wholesale,North
3,REG100003,2025-02-26,Chair,18,5887.746,Cust 7136,Wholesale,Central
4,REG100004,2023-06-24,Desk,18,4279.680,Cust 6506,Retail,East
...,...,...,...,...,...,...,...,...
1495,REG101495,2025-02-17,Desk,13,1661.816,Cust 5227,Retail,West
1496,REG101496,2024-01-11,Chair,18,3209.175,Cust 5559,Wholesale,South
1497,REG101497,2024-07-27,Desk,1,272.500,Cust 8981,Wholesale,East
1498,REG101498,2024-12-03,Monitor,14,3493.511,Cust 1824,Retail,Central
1499,REG101499,2025-05-09,Chair,13,2878.070,Cust 1935,Wholesale,West

In [59]:
# stack columnwise both the orders and customers dataframe. use axis = 1 for columns and axis = 0 for row wise stack
pd.concat([orders,customers],axis = 1)

,OrderID,Date,Product,Quantity,TotalPrice,OrderID,CustomerName,CustomerType,Region
0,REG100000,2023-02-23,Laptop,14,2290.400,REG100000,Cust 6583,Wholesale,East
1,REG100001,2024-12-19,Phone,1,544.010,REG100001,Cust 2144,Retail,South
2,REG100002,2023-05-10,Desk,14,4361.868,REG100002,Cust 5998,Wholesale,North
3,REG100003,2025-02-26,Chair,18,5887.746,REG100003,Cust 7136,Wholesale,Central
4,REG100004,2023-06-24,Desk,18,4279.680,REG100004,Cust 6506,Retail,East
...,...,...,...,...,...,...,...,...,...
1495,REG101495,2025-02-17,Desk,13,1661.816,REG101495,Cust 5227,Retail,West
1496,REG101496,2024-01-11,Chair,18,3209.175,REG101496,Cust 5559,Wholesale,South
1497,REG101497,2024-07-27,Desk,1,272.500,REG101497,Cust 8981,Wholesale,East
1498,REG101498,2024-12-03,Monitor,14,3493.511,REG101498,Cust 1824,Retail,Central
1499,REG101499,2025-05-09,Chair,13,2878.070,REG101499,Cust 1935,Wholesale,West

In [60]:
# stack rowwise both the orders and customers dataframe. use axis = 1 for columns and axis = 0 for row wise stack
pd.concat([orders,customers],axis = 0)

,OrderID,Date,Product,Quantity,TotalPrice,CustomerName,CustomerType,Region
0,REG100000,2023-02-23,Laptop,14.0,2290.400,NaN,NaN,NaN
1,REG100001,2024-12-19,Phone,1.0,544.010,NaN,NaN,NaN
2,REG100002,2023-05-10,Desk,14.0,4361.868,NaN,NaN,NaN
3,REG100003,2025-02-26,Chair,18.0,5887.746,NaN,NaN,NaN
4,REG100004,2023-06-24,Desk,18.0,4279.680,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1495,REG101495,NaT,NaN,NaN,NaN,Cust 5227,Retail,West
1496,REG101496,NaT,NaN,NaN,NaN,Cust 5559,Wholesale,South
1497,REG101497,NaT,NaN,NaN,NaN,Cust 8981,Wholesale,East
1498,REG101498,NaT,NaN,NaN,NaN,Cust 1824,Retail,Central
1499,REG101499,NaT,NaN,NaN,NaN,Cust 1935,Wholesale,West

In [61]:
df.columns

Index(['Date', 'Region', 'Product', 'Quantity', 'UnitPrice', 'StoreLocation',
       'CustomerType', 'Discount', 'Salesperson', 'TotalPrice',
       'PaymentMethod', 'Promotion', 'Returned', 'OrderID', 'CustomerName',
       'ShippingCost', 'OrderDate', 'DeliveryDate', 'RegionManager',
       'mean_totalprice', 'rank_by_region', 'rank_by_toalprice'],
      dtype='object')

In [62]:
# Create a pivot table: Regions as rows, Products as columns, total revenue as values
df.pivot_table(values = 'TotalPrice', columns = 'Product', index = 'Region', aggfunc = 'sum')

Product,Chair,Desk,Laptop,Monitor,Phone,Printer,Tablet
Region,,,,,,,
Central,113029.4415,110743.9290,139219.5800,107231.8960,72442.8265,139174.8675,165311.1440
East,107210.1945,118254.6630,135461.4075,121548.1315,145231.2030,149017.8450,106910.2735
North,136982.5300,170637.9805,122643.5660,172222.0435,79577.4530,128877.2280,157017.1790
South,150978.0410,68565.6710,157696.0205,101689.4455,121325.6950,122090.8650,105422.4490
West,114389.2710,87064.4210,129396.6675,148937.8760,78585.6735,145226.6100,149878.3400

In [63]:
df.head(5)

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,...,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,...,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,2805.993854,235.0,1230.0
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,...,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan,3132.550097,91.0,380.0
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,...,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron,2814.464068,41.0,238.0
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,...,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric,2841.265974,83.0,390.0

In [64]:
df['year'] = df['Date'].dt.year
df.head(2)

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice,year
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.0,Eva,2290.40,...,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0,2023
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.0,Alice,544.01,...,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,2805.993854,235.0,1230.0,2024

In [65]:
df['month'] = df['Date'].dt.month
df.head(2)

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice,year,month
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.0,Eva,2290.40,...,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0,2023,2
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.0,Alice,544.01,...,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,2805.993854,235.0,1230.0,2024,12

In [66]:
df['day_name'] = df['Date'].dt.day_name()
df.head(2)

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,ShippingCost,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice,year,month,day_name
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.0,Eva,2290.40,...,43.34,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0,2023,2,Thursday
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.0,Alice,544.01,...,5.30,2024-12-19,2024-12-28,Sophie,2805.993854,235.0,1230.0,2024,12,Thursday

In [67]:
df['week_num'] = df['Date'].dt.week
df.head(2)

C:\Users\user\AppData\Local\Temp/ipykernel_23780/2758864301.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['week_num'] = df['Date'].dt.week

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice,year,month,day_name,week_num
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.0,Eva,2290.40,...,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0,2023,2,Thursday,8
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.0,Alice,544.01,...,2024-12-19,2024-12-28,Sophie,2805.993854,235.0,1230.0,2024,12,Thursday,51

In [68]:
df[df['Product'].str.contains('Laptop')]

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,OrderDate,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice,year,month,day_name,week_num
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.4000,...,2023-02-23,2023-02-27,Eric,2841.265974,140.0,726.0,2023,2,Thursday,8
16,2023-02-26,West,Laptop,19,236.11,Store D,Wholesale,0.00,Bob,4486.0900,...,2023-02-26,2023-03-04,Wendy,3005.207250,68.0,367.0,2023,2,Sunday,8
22,2024-02-18,North,Laptop,14,395.45,Store C,Retail,0.00,Carlos,5536.3000,...,2024-02-18,2024-02-22,Ryan,3132.550097,64.0,259.0,2024,2,Sunday,7
23,2023-08-06,Central,Laptop,12,472.72,Store D,Retail,0.15,Diana,4821.7440,...,2023-08-06,2023-08-14,Cameron,2814.464068,65.0,330.0,2023,8,Sunday,31
28,2024-11-18,South,Laptop,1,178.55,Store A,Retail,0.15,Carlos,151.7675,...,2024-11-18,2024-11-21,Sophie,2805.993854,282.0,1445.0,2024,11,Monday,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457,2023-01-02,South,Laptop,7,61.47,Store C,Retail,0.15,Eva,365.7465,...,2023-01-02,2023-01-12,Sophie,2805.993854,259.0,1328.0,2023,1,Monday,1
1468,2024-12-19,Central,Laptop,15,150.15,Store C,Retail,0.00,Frank,2252.2500,...,2024-12-19,2024-12-29,Cameron,2814.464068,147.0,734.0,2024,12,Thursday,51
1470,2025-05-14,Central,Laptop,4,438.58,Store D,Retail,0.05,Alice,1666.6040,...,2025-05-14,2025-05-18,Cameron,2814.464068,168.0,886.0,2025,5,Wednesday,20
1478,2023-05-11,West,Laptop,3,304.61,Store B,Wholesale,0.05,Bob,868.1385,...,2023-05-11,2023-05-15,Wendy,3005.207250,224.0,1125.0,2023,5,Thursday,19
1485,2025-05-16,South,Laptop,4,472.24,Store D,Retail,0.00,Alice,1888.9600,...,2025-05-16,2025-05-21,Sophie,2805.993854,163.0,823.0,2025,5,Friday,20

In [69]:
#give name of Salesperson who has generated highest revenue

highest = df.groupby('Salesperson')['TotalPrice'].sum().sort_values(ascending = False).reset_index()
highest.head(1)['Salesperson']

0    Bob
Name: Salesperson, dtype: object

In [70]:
highest.head(1)[['Salesperson']]

  Salesperson
0         Bob

In [71]:
#create a column for cumulative sum
df_sorted = df.sort_values('TotalPrice')  #first sorted the df based on totalprice
df_sorted['cumsum'] = df_sorted['TotalPrice'].cumsum()
df_sorted.head()

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice,year,month,day_name,week_num,cumsum
419,2024-03-05,Central,Monitor,1,8.20,Store C,Wholesale,0.15,Frank,6.9700,...,2024-03-15,Cameron,2814.464068,301.0,1500.0,2024,3,Tuesday,10,6.9700
600,2023-09-02,South,Printer,2,6.19,Store B,Retail,0.10,Frank,11.1420,...,2023-09-12,Sophie,2805.993854,295.0,1499.0,2023,9,Saturday,35,18.1120
1355,2025-05-05,North,Monitor,1,21.75,Store C,Retail,0.00,Alice,21.7500,...,2025-05-14,Ryan,3132.550097,309.0,1498.0,2025,5,Monday,19,39.8620
361,2025-06-15,Central,Desk,5,5.52,Store C,Retail,0.05,Alice,26.2200,...,2025-06-18,Cameron,2814.464068,300.0,1497.0,2025,6,Sunday,24,66.0820
1028,2024-08-01,South,Chair,3,10.93,Store D,Wholesale,0.15,Eva,27.8715,...,2024-08-10,Sophie,2805.993854,294.0,1496.0,2024,8,Thursday,31,93.9535

In [72]:
# create the cumulative product colum Region Wise

df['cumproduct'] = df.groupby('Region')['TotalPrice'].transform('cumprod')
df.head(10)

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,DeliveryDate,RegionManager,mean_totalprice,rank_by_region,rank_by_toalprice,year,month,day_name,week_num,cumproduct
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,...,2023-02-27,Eric,2841.265974,140.0,726.0,2023,2,Thursday,8,2.290400e+03
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,...,2024-12-28,Sophie,2805.993854,235.0,1230.0,2024,12,Thursday,51,5.440100e+02
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,...,2023-05-19,Ryan,3132.550097,91.0,380.0,2023,5,Wednesday,19,4.361868e+03
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,...,2025-03-02,Cameron,2814.464068,41.0,238.0,2025,2,Wednesday,9,5.887746e+03
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,...,2023-06-27,Eric,2841.265974,83.0,390.0,2023,6,Saturday,25,9.802179e+06
5,2024-02-20,Central,Monitor,2,385.09,Store D,Wholesale,0.15,Diana,654.653,...,2024-03-01,Cameron,2814.464068,235.0,1186.0,2024,2,Tuesday,8,3.854431e+06
6,2023-01-11,South,Chair,7,17.50,Store C,Retail,0.10,Alice,110.250,...,2023-01-14,Sophie,2805.993854,286.0,1462.0,2023,1,Wednesday,2,5.997710e+04
7,2023-01-09,Central,Chair,3,330.22,Store C,Wholesale,0.15,Carlos,842.061,...,2023-01-11,Cameron,2814.464068,225.0,1132.0,2023,1,Monday,2,3.245666e+09
8,2024-10-16,South,Chair,3,432.04,Store D,Wholesale,0.05,Bob,1231.314,...,2024-10-18,Sophie,2805.993854,195.0,1003.0,2024,10,Wednesday,42,7.385065e+07
9,2025-03-05,West,Desk,5,323.28,Store D,Retail,0.10,Frank,1454.760,...,2025-03-13,Wendy,3005.207250,183.0,950.0,2025,3,Wednesday,10,1.454760e+03