In [28]:
import pandas as pd
import numpy as np

In [29]:
coffee = pd.read_csv("C:/Users/user/Downloads/Python Problems/Numpy,Pandas &Visualizaation/Files_Dataset./coffee.csv")

In [30]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [31]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [32]:
coffee.sample(10)

          Day Coffee Type  Units Sold
5   Wednesday       Latte          25
11   Saturday       Latte          35
9      Friday       Latte          35
4   Wednesday    Espresso          35
0      Monday    Espresso          25
2     Tuesday    Espresso          30
12     Sunday    Espresso          45
7    Thursday       Latte          30
8      Friday    Espresso          45
1      Monday       Latte          15

In [33]:
coffee.sample(5, random_state = 10)

         Day Coffee Type  Units Sold
3    Tuesday       Latte          20
7   Thursday       Latte          30
12    Sunday    Espresso          45
6   Thursday    Espresso          40
8     Friday    Espresso          45

In [34]:
coffee.dtypes

Day            object
Coffee Type    object
Units Sold      int64
dtype: object

In [35]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [37]:
coffee.groupby(['Day','Coffee Type'])['Units Sold'].mean().reset_index()

          Day Coffee Type  Units Sold
0      Friday    Espresso        45.0
1      Friday       Latte        35.0
2      Monday    Espresso        25.0
3      Monday       Latte        15.0
4    Saturday    Espresso        45.0
5    Saturday       Latte        35.0
6      Sunday    Espresso        45.0
7      Sunday       Latte        35.0
8    Thursday    Espresso        40.0
9    Thursday       Latte        30.0
10    Tuesday    Espresso        30.0
11    Tuesday       Latte        20.0
12  Wednesday    Espresso        35.0
13  Wednesday       Latte        25.0

In [38]:
coffee.groupby('Day')['Units Sold'].mean().sort_values(ascending = False).head(3)

Day
Friday      40.0
Saturday    40.0
Sunday      40.0
Name: Units Sold, dtype: float64

In [40]:
coffee.groupby('Coffee Type')['Units Sold'].mean().reset_index()

  Coffee Type  Units Sold
0    Espresso   37.857143
1       Latte   27.857143

In [41]:
coffee.loc[0]

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

In [42]:
coffee.loc[[0,1,3,4]]

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [14]:
coffee.loc[3:, ["Day", "Units Sold"]]

          Day  Units Sold
3     Tuesday          20
4   Wednesday          35
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

In [15]:
coffee.iloc[2:, 1:]       #using index values

   Coffee Type  Units Sold
2     Espresso          30
3        Latte          20
4     Espresso          35
5        Latte          25
6     Espresso          40
7        Latte          30
8     Espresso          45
9        Latte          35
10    Espresso          45
11       Latte          35
12    Espresso          45
13       Latte          35

In [16]:
coffee.loc[1, "Units Sold"] = 10      #change the value in the Units Sold in this row to new value

In [17]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          10
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [18]:
coffee["Day"].reset_index()

    index        Day
0       0     Monday
1       1     Monday
2       2    Tuesday
3       3    Tuesday
4       4  Wednesday
5       5  Wednesday
6       6   Thursday
7       7   Thursday
8       8     Friday
9       9     Friday
10     10   Saturday
11     11   Saturday
12     12     Sunday
13     13     Sunday

In [19]:
coffee["Coffee Type"].count()

14

In [20]:
coffee["Coffee Type"].nunique()

2

In [21]:
coffee["Coffee Type"].value_counts()

Espresso    7
Latte       7
Name: Coffee Type, dtype: int64

In [22]:
coffee["Coffee Type"].unique()

array(['Espresso', 'Latte'], dtype=object)

In [23]:
coffee.columns

Index(['Day', 'Coffee Type', 'Units Sold'], dtype='object')

In [24]:
coffee.sort_values("Units Sold", ascending = False)

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          10

In [25]:
coffee.sort_values("Units Sold", ascending = False).head(5)

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35

In [26]:
coffee.size

42

In [27]:
coffee[coffee.duplicated()]

Empty DataFrame
Columns: [Day, Coffee Type, Units Sold]
Index: []